@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter28pt-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter28pt-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}



/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --color-dark: #000;
    --color-light: #fff;

    --border-radius: 55px;
    --border: 1px solid #000;
    --font-family: "Inter", sans-serif;

    --header-height: 96px;

    --transition-duration: 0.2s;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 1.35;
    color: var(--color-dark);
    background-color: var(--color-light);
}

button {
    all: unset;
    display: flex;
    align-items: center;
}


a, 
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}


a{
    text-decoration: none;
}
a:visited {
    color: var(--color-dark);
}



.container {
    max-width: 1730px;
    margin: 0 auto;
    padding-inline:20px; 
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.description {
    font-size: clamp(30px, 4vw, 77px);
    
    line-height: 1.1; /* 110.4% */
    line-height: 1.36;
    letter-spacing: -0.44px;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    height: var(--header-height);
    /* padding: 33.5px 0; */
    border-bottom: 1px solid #000;

}

.header__logo {
    display: flex;
    gap: 7px;
}

.header__logo-title {
    color: var(--color-dark);
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px; /* 152.632% */
    text-transform: uppercase;

}

.header__menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    
}

.header__menu-link {
    display: inline-flex;
    height: var(--header-height);
    align-items: center;
    color: var(--color-dark);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.3px;

}

.header__menu-link.is-current {
  position: relative; /* Это важно! Позволяет позиционировать псевдоэлемент относительно ссылки */

}

.header__menu-link.is-current::after {
  content: ''; /* Обязательное свойство для псевдоэлемента */
  position: absolute;
  top: 59%; /* Отступ от текста вниз, можешь настроить */
  left: 50%; /* Начинаем подчёркивание с центра */
  transform: translateX(-50%); /* Сдвигаем на половину своей ширины влево, чтобы центрировать */
  width: 100%; /* Ширина подчёркивания */
  height: 1px; /* Толщина подчёркивания */
  background-color: #000; /* Цвет */
    transition-duration: var(--transition-duration);
}

.header__info{

    height: var(--header-height);
    color: var(--color-dark);
    text-transform: uppercase;
    font-size: 19px;
    font-style: normal;
    

}

.header__info::after {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #000;    
    margin-left: 7px;
    transform: translateY(-2px);
    transition-duration: var(--transition-duration);
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 39px;
    column-gap: clamp(30px, 14.32vw, 275px);
    border-bottom: 1px solid #000;
}

.hero__title, .interview__title {
        width: clamp(200px,33vw, 633px);
        margin-bottom: 30px;
        font-size: clamp(20px, 4.01vw, 77px);
        line-height: 1.1;
        }

.break-title {
    display: block;
}

.hero__img {
    width: 30.72vw;
    max-width: 590px;
    height: auto;
}

.hero__content {
    display: flex;
    flex-direction: column;
    width: clamp(30px, 45.05vw, 865px);
    /* justify-content: space-between; */
}




.post__title {
    position: relative;
    
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: var(--border);
    
    
}

.hero__description, .interview__description {
    margin-top: auto;
    width: 75%;
    text-align: left;
    max-width: 100%;
    font-size: clamp(15px, 1.14vw, 22px);

}

.meta-info {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px; /* 100% */
    letter-spacing: 1.1px;
    text-transform: uppercase;

}

.hero__meta-info {
    margin-bottom: 11px;
}

.tag {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px; /* 100% */
    letter-spacing: 1.1px;
    text-transform: uppercase;
    border-radius: 55px;
    border: var(--border);
    padding: 4px 7.266px 5px 7px;

}

.filter-by-category__tag.tag.is-current {
    background-color:#000;
    color: white;
}

.latest-posts {
    margin-top: 100px;
    border-bottom: var(--border);
    padding-bottom: 41px;
}


.latest-posts__header {
    text-transform: uppercase;
}

.latest-posts__header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.latest-posts__header-botton {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header-sections__title , .header-sections__link {
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px; /* 100% */
    letter-spacing: -0.36px;
    text-transform: uppercase;

}

.latest-posts__title::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    border-radius: 50%;  /* Делает элемент круглым */
    background: #000;    /* Цвет кружка */
    margin-right: 8px;  /* Отступ справа */
    transform: translateY(1px);
 


}


.header-sections__link {
    border-bottom: var(--border);
}



.filter-by-category, .filter_dropdown {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px; /* 100% */
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.filter_dropdown {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.dropdown__text-underline {
    border-bottom: var(--border);
    transition-duration: var(--transition-duration);
}


.filter-by-category {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.filter-by-category__list {
    display: flex;
    column-gap: 4px;
}



.latest-posts__grid-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    column-gap: 40px;
    
    
}



.latest-post {
    height: auto;
    }


.latest_post__meta-info {
    margin-top: 17px;
}

.latest-post__title {
    margin-top: 8px;
    width: 92%;                 
}

.first-col .latest-post__title {
    font-size: clamp(20px, 1.93vw, 37px); 
    line-height: 1.21;
}

.second-col .latest-post__title,.third-col .latest-post__title {
    font-size: clamp(14px, 1.25vw, 24px);
    line-height: 1.33;
}

.latest-post.first-col {
    margin-bottom: 80px;
} 

.latest-post.second-col, .latest-post.third-col {
    margin-bottom: 65px;
}

.popular-and-trending {
    margin-top: 5.88vw;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    column-gap: 40px;
}

.popular-posts__title {
    margin-bottom: clamp(17px, 1.92vw ,37px);
}


.trending-post{
    max-width: 80%;
    margin-bottom: clamp(15px, 1.92vw, 37px);
}

.popular-posts-title__icon, .trending-post-title__icon {
    transform: translateY(2px);
    
}

.trending-post__title {
    margin-bottom: clamp(10px,2.18vw,42px);
    font-size: clamp(15px, 1.25vw, 24px);
    max-width: 80%;
}

.popular-posts-wraper {
    display: flex;
    column-gap: 40px;
}

.popular-post__img {
    width: 100%;
    height: auto;
    margin-bottom: clamp(15px,1.4vw,27px);
}

.popular-post__meta-info {
    margin-bottom: 15px;
}

.popular-post__title {
    margin-bottom: clamp(15px,3.02vw,58px);
    font-size: clamp(15px, 1.92vw, 37px);
    line-height: 1.33;
}

.interview {
    
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-block: 45px;
    height: 778px;
    flex-shrink: 0;
    margin-inline: auto;
    background: url(images/interview/background-image.jpg) center/cover no-repeat;
}

.interview__container {
    display: flex;
    width: 100%;
    

}


.interview__meta-info {
    margin-bottom: 20px;
}

.interview__description {
    margin-top: auto;
}

.interview__body {
    display: flex;
    flex-direction: column;
    height: auto;
    width: clamp(30px, 45.05vw, 865px);
}

.hot-stuff {
    padding-top: 145px;
}

.hot-stuff__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}

.hot-stuff__title-icon {
    margin-top: -4px;
}

.hot-stuff__body {
    display: flex;
    justify-content: space-evenly;
}



.hot-stuff__card {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hot-stuff-card__inner {
    width: 221px;
}



.hot-stuff-card__image {
    margin-bottom: 27px;
}

.hot-stuff-card__tag {
    margin-bottom: 22px;
    width: fit-content;
}

.hot-stuff-card__title {
    width: fit-content;
    max-width: 90%;
    font-size: 19px;
}

.banner {
    
    margin-top: 165px;
    margin-bottom: 58px;
    border-top: var(--border);
    border-bottom: var(--border);
    padding-block: 31px;
    overflow-x: hidden;
    transform: translateZ(0);
}

.banner-text__wrapper {
    display: flex;
    font-size: 100px;
    font-weight: 500;
    letter-spacing: -0.36px;
    white-space: nowrap;
    
    animation: marquee 10s linear infinite;
    will-change: transform;
    }

.banner-text {
    padding-right: 200px;
    flex-shrink: 0;
    }

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-99.97%);
    }
}



 
@media (hover: hover) and (pointer: fine) {

    a:hover {
    color: gray;
    }

    .header__info:hover {
    color: gray;
    }

    .header__menu-link.is-current:hover::after {
    background-color: gray;
    }

    .dropdown__button:hover {
    color: gray;
    
    }

    .dropdown__text-underline:hover {
        border-bottom: 1px solid gray;
    }




.header-sections__link:hover {
    border-bottom: 1px solid gray;
    }


meta:hover {
    cursor: pointer;
    }

.header__info:hover::after {
    background: gray;
}


}

@media (max-width: 1729px) {

        .popular-posts-wraper {
        column-gap: 20px;
    }

    .popular-and-trending {
        column-gap: 20px;
    }



}

@media (max-width: 1446px) {
    .hero {
        column-gap: 10px;
        margin-top: 0px;
        padding-bottom: 15px;
    }

    .latest-posts {
        margin-top: 50px;
    }

    .latest-posts__header-top {
    margin-bottom: 30px;
    }

    .latest-posts__grid-container {
        column-gap: 20px;
    }

    .latest-post.first-col {
    margin-bottom: 40px;
    } 

    .latest-post.second-col, .latest-post.third-col {
    margin-bottom: 30px;
    }

    /* .popular-and-trending {
        flex-direction: column;
    } */

    /* .trending-posts-wraper {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    } */

}

@media (max-width: 1240px) {

    .hot-stuff {
    padding-top: 70px;
    }

    .hot-stuff__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

    .hot-stuff-card__image {
    margin-bottom: 15px;
    }

    
    .hot-stuff-card__tag {
    margin-bottom: 15px;
    }

}


@media (max-width: 750px) {

    .container-mobile {
        width: 75%;
        margin-inline: auto;
    }


    .container {
    padding-inline:15px;
    }

    .header {
        height: auto;
        padding-top: 15px;
    }
    .header__menu {
        order: 1;
        flex-basis: 100%;
    }


    .header__menu-list {
        column-gap: 15px;
        margin: 0 5px;
    }


    .header__menu-link {
        height: 40px;
    }

    .header__menu-link.is-current::after {
    top: 70%;
    }

    .header__info {
        height: auto;
    }

    .hero {
        flex-direction: column-reverse;
        align-items: center;

    }

    .hero__title {
        width:75%;
        text-align: center;
        
    }

    .break-title {
        display: inline;
    }

    .hero__img {
        width: 75%;
    }

    .hero__content {
        width: 100%;
        align-items: center;
    }

    .hero__meta-info {
        margin-top: 5px;
    }



    .hero__text {
        text-align: center;
    }

    .latest-posts {
        margin-top: 25px;
    }

    .latest-posts__header-top {
        margin-bottom: 10px;
    }

    .latest-posts__grid-container {
        grid-template-columns: 1fr;             /* вот эти свойства    */
    }

    .latest-post__img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }

    .first-col .latest-post__title {
        font-size: clamp(14px, 1.25vw, 24px);
        line-height: 1.33;
    }

    .latest-post.first-col {
        margin-bottom: 30px;
    } 

    .latest-post.second-col, .latest-post.third-col {
        margin-bottom: 30px;
    }

        .popular-posts-wraper {
        flex-direction: column;
    }

    .popular-and-trending {
        grid-template-columns: 2fr 1fr;
    }

    .interview {
        justify-content: center;
        width: 100%;
    }

    .interview__body {
        margin-inline: auto;
    }


    .interview__title {
        
        width: fit-content;
    }

    .hot-stuff__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

    .hot-stuff__card {
        justify-content: start;

    }

    .hot-stuff__card:not(:last-child) {
        margin-bottom: 25px;
    }


}

@media (max-width: 552px) {

    .header__menu-item {
        height: 33px;
    }

  

    .latest-posts__header-botton {

    margin-bottom: 20px;
    flex-direction: column;
    row-gap: 10px;
    }

    .latest-post__img {
        height: 200px;
    }

    .popular-and-trending {
        display: flex;
        flex-direction: column;
    }

    .popular-posts-wraper {
               width: 80%;
        margin-inline: auto; 
    }

    .trending-posts-wraper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
        justify-content: space-between;
        width: 80%;
        margin-inline: auto;
    }

    .trending-post {
        max-width: 80%;
        
        margin-inline: auto;
    }

    .trending-post__title{
        max-width: 100%;
    }

    .hot-stuff__body {
    display: grid;
    grid-template-columns: 1fr;
    }

    .hot-stuff-card__image {
        margin-bottom: 15px;
        width: 100%;
    }

    .hot-stuff-card__tag {
    margin-bottom: 15px;
    
    }

    .hot-stuff-card__inner {
    width: 80%;
}
}
